<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BETTER BOTS</title>
    <link rel="stylesheet" href="/static/LANDING PAGE/style.css">
</head>
<body>
    <div class="container">
      
        <!-- APPLY HERE -->
        <div class="invigilator">
            <a href="{% url 'studenthome:application' %}" class="invigilator_link" target="_blank"><button class="invigilator_category" style="vertical-align:middle"><span>APPLY HERE</span></button></a>
        </div>
    
        <!-- CHECK RESULTS -->
        <div class="evaluator">
            <a href="{% url 'studenthome:result' %}" class="evaluator_link" target="_blank"><button class="evaluator_category" style="vertical-align:middle"><span>CHECK RESULTS</span></button></a>
        </div>
    </div>
    
</body>
</html>