.header{
    background-color: #add8e6;
    padding-bottom: 10px;
    text-align: center;
    width: 100%;
    padding-top: 5px;
    margin: 0;
}
.header img {
    float:left;
    width: 7%;
    height: 7%;
}
.header h1,h2{
    display: block;
    width: 100%;
    color:rgb(2, 51, 75)
}
.header h2{
    padding:0px;
    margin-bottom:6px;
    padding-right:200px;
}
.header h1{
    margin-top:7px;
    padding-right:200px;
    margin-bottom: 2px;
}
nav a{
    text-decoration: none;
    color: rgb(248, 248, 248);
    display: inline-block;
    background-color: darkturquoise;
    width: 150px;
    text-align: center;
}
.topnav {
    width: 100%;
    overflow: hidden;
    background-color: darkturquoise;
  }
.topnav a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 3px 5px;
    text-decoration: none;
    font-size: 17px;
  }
  
.topnav a:hover {
    background-color: #ddd;
    color: black;
  }
footer {
    display: block;
    width: 100%;
    background-color:  darkturquoise;
    color: rgb(9, 74, 71);
    text-align: center;
    position: fixed;
  left: 0;
  bottom: 0;
  font-family: Helvetica, sans-serif;

  }

footer img{
    width:200px;
    height:250px ;
    border-radius: 50%;
}
/* footer h1,h3{
    padding: 0px 50px;
} */
body{
    background-image:url("https://cdn.pixabay.com/photo/2022/07/04/21/56/space-7301998__340.jpg");
    background-repeat: no-repeat;
    opacity:1.5;
    background-size: 100% 300%;
    padding: 0px 0px 0px 0px;
    margin:0;
}

* {
    box-sizing: border-box;
  }
  
  /* body {
    font-family: Arial, Helvetica, sans-serif;
  }
   */
  /* Float four columns side by side */
  .column {
    float: left;
    width: 16.5%;
    padding: 0 10px 10px;
  }
  
  /* Remove extra left and right margins, due to padding in columns */
  .row {margin: 0 -5px;}
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Style the counter cards */
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
    padding: 16px;
    text-align: center;
    background-color: #add8e6;
    
  }
  
  /* Responsive columns - one column layout (vertical) on small screens */
  /* @media screen and (max-width: 500px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  } */