<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scan_Page</title>
</head>

<body>
    <form action="video_reader" method="POST">
        {% csrf_token %}
        <input type="submit"  value="SCAN   QR   CODE">
    </form>

    <br>
    <br>
    
    <form action="logo" method="POST">
        {% csrf_token %}
        <input type="submit"  value="LOGOUT">
    </form>
</body>

</html>