<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    <title>BETTER BOTS HOME</title>
    <link rel="stylesheet" href="../static/LANDING PAGE/lp.css">
        
</head>
<body >
    <div class="header">
            <a href="" >
                <img src="https://lh3.googleusercontent.com/ZFYKQ4MhoDqWBXt-4p_SUpJzBnvbeQdRNXcFDaoPLzJu1AxGvkVavMXDYi6Z8yMCfPU=w2400"  > 
            </a>
            <h1>SIH</strong><br /></h1>
            <h2>National Institute for Empowerment of Persons with Multiple Disabilities<br /></h2>
        </div>
    <div class="topnav">
        <nav>
            <a href="" class="evaluator_link" >EVALUATOR</a>
            <a href="{% url 'inhome:inhome' %}" class="invigilator_link" >INVIGILATOR</a>
            <a href="{% url 'studenthome:studenthome' %}" class="student_link" >STUDENT</a>
            
        </nav>
    </div>
    
    
    <footer>
            <p>
                <h1 class="names">TEAM BETTER BOTS</h1>
                <!--<h3 class="names">Harshit Chaurasia</h3>
                <h3 class="names">Prateek Pal</h3>
                <h3 class="names">Aarushi Singh</h3>
                <h3 class="names">Mohak Srivastav</h3>
                <h3 class="names">Utkarsh Pandey</h3>
                <h3 class="names">Utkarsh Agarwal</h3>
              -->  
            </p>
            <div class="row">
                <div class="column">
                  <div class="card"><a><img src="../static/LANDING PAGE/WhatsApp Image 2022-07-23 at 7.38.50 PM.jpeg"></a><h3 class="names">Harshit Chaurasia </h3></div>
                </div>
                <div class="column">
                  <div class="card">
                    <a><img src="../static/LANDING PAGE/WhatsApp Image 2022-07-23 at 4.47.05 PM.jpeg"></a><h3 class="names">Prateek Pal</h3></div>
                </div>
                <div class="column">
                  <div class="card">
                    <a><img src="../static/LANDING PAGE/WhatsApp Image 2022-07-24 at 12.31.08 PM.jpeg"></a> <h3 class="names">Aarushi Singh</h3></div>
                </div>
                <div class="column">
                  <div class="card">
                    <a><img src="../static/LANDING PAGE/WhatsApp Image 2022-07-24 at 12.31.07 PM (1).jpeg"></a><h3 class="names">Mohak Srivastav</h3></div>
                </div>
                <div class="column">
                    <div class="card">
                        <a><img src="../static/LANDING PAGE/WhatsApp Image 2022-07-24 at 12.43.03 PM.jpeg"></a><h3 class="names">Utkarsh Pandey</h3></div>
                  </div>
                <div class="column">
                    <div class="card">
                        <a><img src="../static/LANDING PAGE/WhatsApp Image 2022-07-24 at 12.31.06 PM.jpeg"></a><h3 class="names">Utkarsh Agarwal</h3></div>
                  </div>
              </div>
    </footer>
    
</body>
</html>