<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BETTER BOTS HOME</title>
    <link rel="stylesheet" href="../../static/LANDING PAGE/style.css">
</head>
<body>
    <div class="container">
        <!-- STUDENT -->
        <div class="student">
            <a href="{% url 'studenthome:studenthome' %}" class="student_link" target="_blank"><button class="student_category" style="vertical-align:middle"><span>STUDENT</span></button></a>
        </div>
    
        <!-- INVIGILATOR -->
        <div class="invigilator">
            <a href="{% url 'inhome:inhome' %}" class="invigilator_link" target="_blank"><button class="invigilator_category" style="vertical-align:middle"><span>INVIGILATOR</span></button></a>
        </div>
    
   
        <!-- EVALUATOR -->
        <div class="evaluator">
            <a href="" class="evaluator_link" target="_blank"><button class="evaluator_category" style="vertical-align:middle"><span>EVALUATOR</span></button></a>
        </div>
    </div>
    
</body>
</html>