*{
    box-sizing: border-box;
    
}

body{
    background-image: url(https://www.cbse.gov.in/images/bnr8.jpg);
}

/* media queries */
@media only screen and (min-width: 768px) {
    body{
      font-size: 16px;
    }
  }
  
@media only screen and (min-width: 480px) and (max-width: 768px) {
    body{
      font-size: 15px;
    }
  }
  
@media only screen and (max-width: 479px) {
    body{
      font-size: 14px;
      
    }
}

/* CONTAINER */

.container{
    width: 100%;
    height: 100%;
    text-align: center;
    margin-top: 216px;
}
/* student button styling */

.student_category{
    display: inline-block;
    border-radius: 10px;
    background-image: linear-gradient(to right, #314755 0%, #26a0da 51%, #314755 100%);
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 24px;
    padding: 14px 10px;
    width: 420px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 20px;
}

.student_category span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
.student_category span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
.student_category:hover span {
    padding-right: 25px;
  }
  
.student_category:hover span:after {
    opacity: 1;
    right: 0;
  }

/* invigilator button styling */

.invigilator_category{
    display: inline-block;
    border-radius: 10px;
    background-image: linear-gradient(to right, #314755 0%, #26a0da 51%, #314755 100%);
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 24px;
    padding: 14px 10px;
    width: 420px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 20px;
}

.invigilator_category span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
.invigilator_category span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
.invigilator_category:hover span {
    padding-right: 25px;
  }
  
.invigilator_category:hover span:after {
    opacity: 1;
    right: 0;
  }

  /* EVALUATOR STYLING */

  .evaluator_category{
    display: inline-block;
    border-radius: 10px;
    background-image: linear-gradient(to right, #314755 0%, #26a0da 51%, #314755 100%);
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 24px;
    padding: 14px 10px;
    width: 420px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 20px;
}

.evaluator_category span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
.evaluator_category span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
.evaluator_category:hover span {
    padding-right: 25px;
  }
  
.evaluator_category:hover span:after {
    opacity: 1;
    right: 0;
  }