{% load static %}
<!DOCTYPE html>
<head>
    <link rel="stylesheet" type="text/css" href={% static '/EVALUVATOR PAGE/scan.css' %}>  
</head>
<body>

  {% if messages %}
  
    {% for message in messages %}
    <div style="padding: 10px;" {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</div>
    {% endfor %}
 
  {% endif %}
  
    <div class="login-box">
        <h2>Scan QR Code</h2>
        <form action="marks" method="POST"> 
            {% csrf_token %}
          <div class="user-box" >
          <a style="height: 30px; width: 80px; align-items: center;" >
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <input  class="button" type="submit" value=" SCAN ">
          </a>
        </form>

      
        <form action="logev" method="POST">
          {% csrf_token %}
          <div class="user-box" >
            <a style="height: 20px; width: 60px; ">
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <input  class="button" type="submit" value="Log-out">
            </a>
      </form>

      </div>
</body>