body {
    background: #061733e6;
  }
  #rectangle{
    width:200px;
    height:100px;
    background-color: #00000000;
}
  .buttons-coll {
    width: 90%;
    margin: 50px auto;
    text-align: center;
  }

  button {
    margin: 100px;
  }
  .custom-btn {
    padding: 47px 100px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    background: transparent;
    outline: none !important;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
  }

.btn-11 {
    background: rgb(255, 255, 255);
    border: 2px solid #f2f2f2;
    transition: all 0.3s ease;
  }
  .btn-11:before,
  .btn-11:after {
    position: absolute;
    content: " ";
    z-index: -1;
    width: 25%;
    top: 50%;
    height: 2px;
    background: rgb(255, 255, 255);
    transition: all 0.3s ease;
  }
  .btn-11:before {
    left: -10%;
  }
  .btn-11:after {
    right: -10%;
  }
  .btn-11:hover {
    background: #fff;
    color: #000;
  }
  .btn-11:hover:before {
    left: 0%;
  }
  .btn-11:hover:after {
    right: 0%;
  }
  