 /* 
 .container {
  max-width: 1100px;
  padding: 20px;
  margin: 110px auto;
}


.top_container{
  background-color: #a1daf1;
  width: 100%;
  height: 5%;
  display: flex;
  flex-direction: row;
}

.left_top{
  width: 25%;
  height: 100%;
}

.logo{
  width: 45%;
  height: 100%;
}

.right_top{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.project_desc{
  align-items: center;
  height: 5%;
}
.project_desc h1{
  display: block;
  margin-top: 0.67em;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 50px;
  padding-left: 230px;
  
} */
.header-container{
  position: fixed;
  top:0;
  z-index: 999;
  width:100%;
  background-color: #243b55;

}
.project_com{
  align-items:flex-start;
  padding-left: 10px;
  width:100%;
  text-align:center;
  /* position: absolute; */
  top:1em;
  padding-top:1em;
  background: linear-gradient(#141e30, #243b55);
}
.top_container{
  background-color: #a1daf1;
  width: 100%;
  height: 5%;
  display: flex;
  flex-direction: row;
}


body {
  font-family: system-ui;
  background: linear-gradient(#141e30, #243b55);
  color: white;
}

a {
  color: #fff;
  font-family: sans-serif;
  font-size: 18px;
  font-weight: 100;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: .25em;
  transition: color 200ms linear;
}

a:hover, a:active {
  color: #4d739f;
  transition: color 200ms linear;
}

ul {
  list-style: none;
  padding: 0;
}

.responsive-nav {
  display: flex;
  /* position: fixed; */
  width: 100%;
  height: 85px;
  padding: auto 15%;
  top: 4em;
  justify-content: space-between;
  align-items: center;
  background-color: #243b55;
  z-index: 2;
}

.navbar-logo {
  height: 98%;
  width: 98%;
  max-height: 85px;
  max-width: 85px;
  margin-left: 50%;
}

.navbar-links {
  display: flex;
  flex-direction: row;
  width: inherit;
  justify-content: space-around;
  /* position: relative; */
  margin-top: 50px;
  padding: 0;  
}

.navbar-links a {
  margin: auto 5vw;
}

.burger {
  display: none;
  margin-right: 4%;
}

.burger div {
  width: 42px;
  height: 5px;
  border-radius: 3px;
  background-color: white;
  margin: 8px;
  transition: all 0.3s ease;
}

@media screen and (max-width: 991px) {
  body {
    overflow-x: hidden;
  }
  
  .navbar-links {
    position: fixed;
    margin: 0;
    right: 0;
    top: 85px;
    min-width: 35vw;
    min-height: 89vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #719690;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }
  
  .burger {
    display: block;
  }
  
  .nav-active {
    transform: translateX(0%);
  }
  
  .navbar-links li {
    opacity: 0%;
  }
}

/* --------- NAVBAR EFFECTS --------- */

@keyframes navLinkFadeIn {
  from {
    opacity: 0%;
    transform: translateX(50px);
  }
  to {
    opacity: 100%;
    transform: translateX(0px);
  }
}

@keyframes navLinkFadeOut{
    from{
        opacity: 100%;
        transform: translateX(0px);
    }
    to{
        opacity: 0%;
        transform: translateX(50px);
    }
}

.toggle .line1 {
		transform: rotate(-45deg) translate(-6px, 11.75px);
	}

	.toggle .line2 {
		opacity: 0;
	}

	.toggle .line3 {
		transform: rotate(45deg) translate(-6px, -11.75px);

	}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  /* align-items: center; */
  /* justify-content: center; */
  background: linear-gradient(#141e30, #243b55);
}

.container {
  position: relative;
  max-width: 900px;
  width: 100%;
  border-radius: 6px;
  padding: 300px;
  margin: 100px auto;
  background-color: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.container header {
  position: relative;
  font-size: 20px;
  font-weight: 600;
  color: #333;
  padding-top: 25px;
  margin-top: 70px;
}

.container header::before {
  content: "";
  position: relative;
  left: 0;
  bottom: -2px;
  height: 3px;
  width: 27px;
  border-radius: 8px;
  background-color: #4070f4;
}
.container form {
  position: relative;
  margin-top: 16px;
  min-height: 490px;
  background-color: #fff;
  overflow: hidden;
}

.container form .form {
  position: relative;
  background-color: #fff;
  transition: 0.3s ease;
}
.container form .form.second {
  opacity: 0;
  pointer-events: none;
  transform: translateX(100%);
}

form.secActive .form.second {
  opacity: 1;
  pointer-events: auto;
  transform: translateX(0);
}
form.secActive .form.first {
  opacity: 0;
  pointer-events: none;
  transform: translateX(-100%);
}

.container form .title {
  display: block;
  margin-bottom: 8px;
  font-size: 16px;
  font-weight: 500;
  margin: 6px 0;
  color: #333;
}
.container form .fields {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
form .fields .input-field {
  display: flex;
  width: calc(100% / 3 - 15px);
  flex-direction: column;
  margin: 4px 0;
}

.input-field label {
  font-size: 12px;
  font-weight: 500;
  color: #2e2e2e;
}
.input-field input,
select,
textarea {
  outline: none;
  font-size: 14px;
  font-weight: 400;
  color: #333;
  border-radius: 5px;
  border: 1px solid #aaa;
  padding: 0 15px;
  height: 42px;
  margin: 8px 0;
}

.input-field input textarea:focus,
.input-field select textarea:focus {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.13);
}
.input-field select,
.input-field input[type="date"] {
  color: #707070;
}
.input-field input[type="date"]:valid {
  color: #333;
}
.container form button,
.backBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 45px;
  max-width: 200px;
  width: 100%;
  border: none;
  outline: none;
  color: #fff;
  border-radius: 5px;
  margin: 25px 0;
  background-color: #4070f4;
  transition: all 0.3s linear;
  cursor: pointer;
}
.container form .btnText {
  font-size: 14px;
  font-weight: 400;
}
form button:hover {
  background-color: #265df2;
}

form button i,
form .backBtn i {
  margin: 0 6px;
}
form .backBtn i {
  transform: rotate(180deg);
}
form .buttons {
  display: flex;
  align-items: center;
}
form .buttons button,
.backBtn {
  margin-right: 14px;
}

@media (max-width: 750px) {
  .container form {
    overflow-y: scroll;
  }
  .container form::-webkit-scrollbar {
    display: none;
  }
  form .fields .input-field {
    width: calc(100% / 2 - 15px);
  }
}

@media (max-width: 550px) {
  form .fields .input-field {
    width: 100%;
  }
}

/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */
/* body {
  background: #f6f6f6;
  color: #444;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1;
} */
.container {
  max-width: 1100px;
  padding: 0 20px;
  /* margin: 0 auto; */
  margin-top:12em;
}
.panel {
  margin: 100px auto 40px;
  max-width: 500px;
  text-align: center;
}
.button_outer {
  background: #83ccd3;
  border-radius: 30px;
  text-align: center;
  height: 50px;
  width: 200px;
  display: inline-block;
  transition: 0.2s;
  position: relative;
  overflow: hidden;
}
.btn_upload {
  padding: 17px 30px 12px;
  color: #fff;
  text-align: center;
  position: relative;
  display: inline-block;
  overflow: hidden;
  z-index: 3;
  white-space: nowrap;
}
.btn_upload input {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  width: 100%;
  height: 105%;
  cursor: pointer;
  opacity: 0;
}
.file_uploading {
  width: 100%;
  height: 10px;
  margin-top: 20px;
  background: #ccc;
}
.file_uploading .btn_upload {
  display: none;
}
.processing_bar {
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 100%;
  border-radius: 30px;
  background: #83ccd3;
  transition: 3s;
}
.file_uploading .processing_bar {
  width: 100%;
}
.success_box {
  display: none;
  width: 50px;
  height: 50px;
  position: relative;
}
.success_box:before {
  content: "";
  display: block;
  width: 9px;
  height: 18px;
  border-bottom: 6px solid #fff;
  border-right: 6px solid #fff;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  left: 17px;
  top: 10px;
}
.file_uploaded .success_box {
  display: inline-block;
}
.file_uploaded {
  margin-top: 0;
  width: 50px;
  background: #83ccd3;
  height: 50px;
}
.uploaded_file_view {
  max-width: 300px;
  margin: 40px auto;
  text-align: center;
  position: relative;
  transition: 0.2s;
  opacity: 0;
  border: 2px solid #ddd;
  padding: 15px;
}
.file_remove {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: block;
  position: absolute;
  background: #aaa;
  line-height: 30px;
  color: #fff;
  font-size: 12px;
  cursor: pointer;
  right: -15px;
  top: -15px;
}
.file_remove:hover {
  background: #222;
  transition: 0.2s;
}
.uploaded_file_view img {
  max-width: 100%;
}
.uploaded_file_view.show {
  opacity: 1;
}
.error_msg {
  text-align: center;
  color: #f00;
}
