*{
    box-sizing: border-box;
}

body{
    background-image: url(https://www.cbse.gov.in/images/bnr8.jpg);
}

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=submit] {
  background-image: linear-gradient(to right, #314755 0%, #26a0da 51%, #314755 100%);
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
  margin-top: 15px;
  width: 100%;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  padding: 20px;
  margin-top: 250px;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

.row{
  margin: 8px;
  /* margin-left: 200px;
  margin-right: 200px;*/
} 

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
/* @media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 10%;
    margin-top: 0;
    margin-left: 100%;
    margin-right: 100%;
  }
} */

@media only screen and (max-width: 600px) {
  body {
    column-width: 80%;
  }
}
@media only screen and (max-width: 500px) {
  .col-25 {
    width: 20%;
    margin-right: 2px;
  }
}
@media only screen and (max-width: 500px) {
  .col-75 {
    width: 80%;
    margin-left: 2em;
  }
}